.design-details-page {
    background-image: url('../assets/fu-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color: black;
  }