.create-design-page {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
  }
  
  .design-sidebar {
    width: 400px;
    background: rgba(255, 255, 255, 0.85);
    border-right: 1px solid #ddd;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .design-canvas-area {
    background-color: #ffffff29;
  }

 